extends ./layout/index


block slider
    .slider     
        h1 Rio de Janeiro 
        em aventura 

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Etiam semper lacinia lorem. Suspendisse tempus dui non lorem ultricies, in tempor mi sollicitudin. Quisque at nibh dapibus, tempor dolor ac, rutrum felis. Cras lacinia velit fringilla enim condimentum dapibus. Donec posuere neque quis augue maximus mattis. Duis molestie nibh tristique congue ultrices. A
                
                p Integer viverra purus non gravida tincidunt. Aliquam interdum felis congue metus elementum porta. Curabitur tincidunt lacus dui, vel luctus odio blandit ut. Mauris in facilisis purus. Cras ornare lacus ultricies tortor vestibulum, ut pretium nunc sollicitudin. Curabitur vulputate volutpat suscipit. Donec dictum, mi fermentum venenatis porta, lorem magna vulputate ligula, eu hendrerit sapien mi ut libero. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="inicio-nosotros" class="img-fluid")

        include ./layout/bloque_viajes

    .descuento 
        .container  
            .row 
                .col-md-6 
                    .contenido
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2023 - 28 de Marzo 2023
                        p.precio $ 2,500 USD
    
    .container 
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales
