extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor aliquam luctus. Donec consectetur sodales laoreet. Nullam fermentum rutrum magna in luctus. Quisque lacinia eget risus a ullamcorper. Vestibulum a laoreet sem, non ullamcorper felis. 

                p Proin elementum faucibus rutrum. Suspendisse aliquam, ex eget semper ornare, lacus velit mollis neque, non lacinia tortor eros et odio. Ut eget mauris blandit, auctor urna sagittis, maximus urna. Sed egestas rutrum leo, at blandit enim ultrices eget. Integer eu libero et nisl maximus commodo. 

                p Suspendisse suscipit gravida ultrices. Maecenas sit amet felis id mauris molestie pellentesque sit amet lacinia massa. Donec vel porttitor odio. Quisque sed sem quam. Proin eu sem porttitor, feugiat ex et, suscipit risus. Vestibulum luctus neque quis nisl elementum faucibus. In hac habitasse platea dictumst. Morbi rhoncus efficitur ipsum vitae venenatis. Praesent ut nibh nec elit auctor dapibus sit amet sit amet leo.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Proin elementum faucibus rutrum. Suspendisse aliquam, ex eget semper ornare, lacus velit mollis neque, non lacinia tortor eros et odio. Ut eget mauris blandit, auctor urna sagittis, maximus urna.
                    
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejors Destinos
                    p Proin elementum faucibus rutrum. Suspendisse aliquam, ex eget semper ornare, lacus velit mollis neque, non lacinia tortor eros et odio. Ut eget mauris blandit, auctor urna sagittis, maximus urna.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Proin elementum faucibus rutrum. Suspendisse aliquam, ex eget semper ornare, lacus velit mollis neque, non lacinia tortor eros et odio. Ut eget mauris blandit, auctor urna sagittis, maximus urna.

